<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Starint" connectionString="Data Source=DESKTOP-GUGL761\SQLEXPRESS; Initial Catalog=Starint; User Id=soporte; Password=;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>